@media only screen and (min-width: 58em) {
    
    header h1 {
        font-size: 3.5em;
        height: 120px;
        margin-top: 85px;
    }

    nav ul {
        width: 80%;
        margin: auto;
        padding-top: 15px;
    }
    nav ul li a { font-size: 1.5rem; }

    nav ul li a{
        font-size: 1.5rem;
    }

    article:nth-child(3) {
        width: 74%;
        margin: auto;
    }
	
}
