/* Tablet Views *******************************/
@media only screen and (min-width: 42em) {
    header {
        font-size: 1.25em;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1em;
    }

    main section h2 {
        font-size: 1.5em;
    }

    main section h3 {
        font-size: 1.2em;
     }

    section:nth-child(3) {
        grid-column: span 2;
    }

    main section {
        min-width: 250px;
    }
}