* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier Prime', monospace;
    background-color: whitesmoke;
    position: relative;
    min-height: 100%;
}

header,
footer,
nav ul li a {
    color: whitesmoke;
}

header,
footer {
    display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
    background-color: lightslategray;
}

footer {
    flex-flow: row;
    margin-top: 1em;
    padding: 1em;
}

#main-container {
    min-height: 100vh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}

header h1 {
    font-size: 2em;
}

footer h2 {
    font-size: 1.25em;
}

nav {
    background-color: #192841;
    box-shadow: 0 2px 15px gray;
    text-align: center;
    margin-bottom: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a{
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul li a:hover {
    background-color: whitesmoke;
    color: #192841;
    font-weight: bold;
}

.active a {
    color: yellow;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;

    width: 80%;
    margin: auto;
}

article {
    font-size: 1.25em;
    text-align: center;
}

#scenarios {
    text-align: left;
}

#header-footer-color {
    background-color: #778899;
    color: whitesmoke;
    padding: 1em;
}

#nav-color {
    background-color: #192841;
    color: whitesmoke;
    padding: 1em;
}

#text-and-background {
    background-color: #f5f5f5;
    color: #192841;
    padding: 1em;
    border: solid #192841;
}

#site-font {
    margin: 1em;
}