@media only screen and (min-width: 60em) {

    nav {
        width: 80%;
        margin: auto;
    }

    footer {
        width: 78%;
        margin: auto;
    }

    main {
        width: 80%;
        margin: auto;
        padding: 0.5em;
    }

    .weather-summary article {
        width: 50%;
    }


    div .five-day-forecast div{
        min-width: 125px;
    }
}