@media only screen and (min-width: 60em) {

    header {
        grid-template-columns: repeat(6, 1fr);
        background-color:rgb(158, 158, 158);
    }
    
    .logo-header {
        background-color:  #142e1d;
        grid-column: 1 / 7;
    }

    nav {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        padding: 0.25em;
    }

    footer {
        width: 61%;
        margin: auto;
    }

    main {
        width: 65%;
        margin: auto;
    }

    main {
        padding: 1em;
    }
}