@media only screen and (min-width: 48em) {

	.navigation {
        display: flex;
        flex-direction: row;
    }
    
	.navigation li {
		display: block; 
        flex: 1 1 auto;
        flex-direction: row;
	}
	.navigation a {
		text-align: center;
    }

    .navigation a:hover {
        background-color: #ffffff;
        color: #192841;
    }
    
	.navigation li:first-child {
		display: none;
    }

    header {
        display: flex;
        justify-content: center;
    }


    .weather-summary {
        position: relative;
    }
    
    .weather-summary article {
        position: absolute;
        top: 4em;
        left: 2em;
        padding: .5em;
        width: 60%;
        background: radial-gradient(rgba(119, 136, 153, .5), rgba(119, 136, 153, .8));
    }

    .five-day {
        display: block;
    }

    .five-day-header {
        text-align: center;
        padding: 0.5em;

    }

    div .five-day-forecast{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div .five-day-forecast div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 150px;
    }

    #preston-lake {
        width: 60%;
        float: right;
        margin-left: 1em;
    }

    .bottom-section {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: 1fr;
    }

    .bottom-section .contact {
        grid-column: 3 / 6;
        grid-row-start: 1;
        justify-self: stretch;
        align-self: center;
    }

    .bottom-section .preston-map {
        grid-column: 1 / 2;
        grid-row-start: 1;
    }

}